*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./../images/background.jpg");
}

.targetPage{
  width:80vw;
  float:right;
}

.headerTimeline{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
  color: #dedede;
}

.targets{
    display: table-cell;
    width: 80vw;
    float: right;
}

.dealingTargets{
    display: inline-block;
    width: 20vw;
    min-width: 220px;
    height: 100%;
    background-color: rgba(73, 69, 75, 0.205);
    margin-left: 6vw;
    margin-bottom: 20vh;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.dealingTargets:hover{
    opacity: 1;
}

.dealingTargets h4{
    text-align: right;
    font-size: 300%;
    font-family: monospace,sans-serif;
    font-weight: normal;
    color: white;
}

.dealingTargets img{
    object-fit: cover;
    display: block;
    width: 70%;
    height:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.dealingTargets h6{
    text-align: center;
    font-size: 140%;
    font-family: Georgia, sans-serif;
    font-weight: normal;
    color: white;
}

.dealingTargets h5{
    text-align: center;
    font-size: 300%;
    font-family: sans-serif, monospace;
    font-weight: normal;
    margin-bottom: 15px;
    color: white;
}

